@font-face {
  font-family: "Cambria";
  font-style: normal;
  font-weight: 900;
  src: url("../font/Cambria-Bold.woff") format("woff"), url("../fonts/Cambria-Bold.eot") format("eot");
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body, p {
  margin: 0;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-image: url("../img/bg.webp");
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 92.708vw;
  margin: 0 13.021vw;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  color: white;
  margin-bottom: 3.125vw;
  &__percent {
    font-family: "Cambria", sans-serif;
    font-size: 10.938vw;
  }
  &__text {
    font-family: "Cambria", sans-serif;
    font-size: 3.542vw;
  }
}

.bonus-code {
  margin-bottom: 3.125vw;
  height: 3.125vw;
  display: flex;
  &__code {
    font-family: "Arial", sans-serif;
    height: 100%;
    min-width: 14.063vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #464646 dashed 1px;
    border-radius: 2.604vw 0 0 2.604vw;
    border-right-style: solid;
    font-size: 2.083vw;
    color: #f73427;
  }
  &__btn-copy {
    font-family: "Arial", sans-serif;
    min-width: 10.417vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: #464646 dashed 1px;
    border-radius: 0 2.604vw 2.604vw 0;
    border-left-style: solid;
    font-size: 1.2vw;
    color: white;
    cursor: pointer;
    transition: font-size 1s;
    &:active {
      outline: 2px solid #ffffff;
      transform: skew(-2deg) rotate(2deg);
    }
  }
}

.btn-play {
  font-family: "Arial", sans-serif;
  font-weight: 900;
  font-size: 1.042vw;
  border-radius: 2.604vw;
  background-color: #f73427;
  color: white;
  padding: 1.563vw 6.250vw;
  transition: font-size 0.5s;
  &:active {
    outline: 2px solid #77c4c4;
    transform: skew(-3deg) rotate(3deg);
  }
}

.footer {
  position: absolute;
  bottom: 3.125vw;
  left: 0;
  padding: 0 1.302vw;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  &__logo {
    width: 11.146vw;
  }
  &__terms {
    color: #464646;
    font-size: 0.729vw;
  }
}

.witcher, .sparks_back, .sparks_front {
  user-select: none;
  position: absolute;
  max-height: 100vh;
  max-width: 50vw;
}

.witcher {
  z-index: 100;
  left: 7vw;
  bottom: 0;
}

.sparks_back, .sparks_front {
  z-index: 50;
  left: 15vw;
  bottom: 10vw;
}

.sparks_front {
  z-index: 150;
}

@media (max-width: 1024px) and (orientation:portrait),(max-width:1023px) {
  .witcher {
      display: none;
  }
  .sparks_back, .sparks_front {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transform: translate(0,0)!important;
  }
  .welcome-flex {
      position: absolute;
      z-index: 200;
  }
  .container {
      justify-content: center;
  }
  .welcome__percent {
    font-size: 25vmin;
  }
  .welcome__text {
    font-size: 8vmin;
  }
  .bonus-code__code {
    min-width: 30vmin;
    font-size: 5vmin;
    border-radius: 5vmin 0 0 5vmin;
  }
  .bonus-code {
    height: 10vmin;
  }
  .bonus-code__btn-copy {
    font-size: 3.5vmin;
    min-width: 29vmin;
    border-radius: 0 5vmin 5vmin 0;
  }
  .btn-play {
    font-size: 4vmin;
    border-radius: 4vmin;
    padding: 3vmin 10vmin;
  }
  .footer__logo {
    width: 18vmin;
  }
  .footer__terms {
    font-size: 4vmin;
  }
  .footer {
    bottom: 5vmin;
    padding: 0 4.5vmin;
  }
  .main {
    background-position: 60% 50%;
  }
}

@media (hover: hover) {
  .btn-play:hover {
    font-size: 1.302vw;
    border: #dea151 dashed 3px;
    max-height: 90vh;
  }
}